  header {
    background-color:H2a2c39;
    color:3c39;
    fonte-family:arial,sans-serife;
    text-align:center;
    neight:100px;
    margin;0;
    border;nome;
    width;100%;
    display;flex;
    align-items:center;
    justify-content:ceter;
    }
    
